body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

/* Header Stuff */
header{
    background-color: #5e7f88;
    padding: 2rem 10px;
}
header span{
    color: #f0e3d3;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
}

/* Navigation Stuff*/
nav{
    background-color: #f0e3d3;
}
nav ul{
    margin: 0;
    padding: 0 10px;
    list-style: none;
    display: flex;
}
nav a{
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #5b3c1e;
    font-weight: 900;
}
nav li.active a {
    background-color: #5c7650;
    color: #f0e3d3;
}
nav a:hover {
    color: #5e7f88;
}

/* Main stuff */
main {
    padding: 1rem 1rem;
}
main h1{
    color: #5c7650;
}
main h2{
    color: #333;
    margin-bottom: .3rem;
    font-weight: 400;
}
main h3{
    color: #5c7650;
    font-weight: 900;
}
main p{
    margin: 0;
    color: #333;
}
main ol{
    padding: .5rem 30px;
    background-color: #5c7650;
    color: white;
}
main dl dt{
    color: #5c7650;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd{
    color: #5b3c1e;
    font-size: 1rem;
    margin-left: 20px;
}
main ul{
    list-style: circle;
}
main ul li{
    line-height: 150%;
    margin-bottom: 1rem;
    font-size: 1rem;
}
main strong{
    font-weight: 700;
    color: black;
}
main em{
    font-weight: 300;
    color: #5c7650;
}
main address{
    font-style: normal;
    background-color: #f0e3d3;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #5c7650;
    width: 200px;
}
main a{
    color: #5b3c1e;
}
main a:hover{
    color: #5e7f88;
}

/* main page img */
figure.working{
    margin: 0;
    width: 30%;
    float: none;
}
figure.working img{
    width: 100%;
    height: auto;
}
figure.working figcaption{
    text-align: center;
    font-size: .75rem;
}

/*team page img*/
figure.team{
    margin: 0 0 0 10px;
    width: 30%;
    float: right;
}
figure.team img{
    width: 100%;
    height: auto;
}
figure.team figcaption{
    text-align: center;
    font-size: .75rem;
}

/* gallery stuff */
div.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figcaption{
    text-align: center;
    font-size: .75rem;
    color: #5c7650;
    font-weight: 800;
}
div.gallery figure{
    margin: 0;
}

/* Footer Stuff */
footer{
    background-color: #5e7f88;
    text-align: center;
    padding: .5rem 0;
}
footer p{
    margin: 0;
    font-size: 1rem;
    color: white;
    letter-spacing: 4px;
}